h1 {
    text-align: center;
    margin: 40px 0;
}

.bloc {
    margin-top: 30px;
    border: 1px solid lightgrey;
}
.bloc h2 {
    background-color: #c9c5c5;
    text-align: center;
    padding: 15px;
}

.bloc .alert {
    margin-top: 20px;
}

.form-wrapper {
    padding: 15px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.blocAnswers {
    border: 1px solid lightgrey;
    padding: 30px;
}

.ranking-player-score {
    margin-left: 5%;
}
#main-container {
    display: none;
}